# Module 1 - Manipulating data with Pandas

![](https://media.giphy.com/media/lPdnkrxkqnS48/giphy.gif)

### Introduction
You are interested in predicting health outcomes for people at risk for heart disease.  You have obtained a set of **labeled data**. Before modeling, you will spend time performing exploratory data analysis and begin with feature engineering. 

#### _Our goals today are to be able to_: <br/>

- Apply and use info, describe, mean, min, max, apply, and applymap from the Pandas library
- Explain what a groupby object is and split a DataFrame using a groupby
- Explain lambda functions and use them to use an apply on a DataFrame
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

### Activation 
Compare attributes and methods of numpy array, pandas series and dataframes.<br>
[array](https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.ndarray.html)<br>
[series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html)<br>
[DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

In [ ]:
# Write two class attributes and two class methods 
# that you were unfamiliar with from each object type

### Our dataset comes from Kaggle, but has been downloaded for you. 

Take a second to checkout the website from which it came:
https://www.kaggle.com/ronitf/heart-disease-uci.

### 1. Applying and using info, describe, mean, min, max, apply, and applymap from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
original_df = pd.read_csv('data/heart.csv')
uci = original_df.copy()

In [4]:
uci.tail(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

Notice the name of the last column!

#### The .columns and .shape Attributes

In [5]:
uci.shape

(303, 14)

#### The .info() and .describe() Methods

Pandas DataFrames have many useful methods! Let's look at ```.info()``` and ```.describe()```.

In [7]:
# Call the .info() method on our dataset. What do you observe?
uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
# Call the .describe() method on our dataset. What do you observe?
uci.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

#### .mean(), .min(), .max(), .sum()

The methods .mean(), .min(), and .max() will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [13]:
uci.min()

age          29.0
sex           0.0
cp            0.0
trestbps     94.0
chol        126.0
fbs           0.0
restecg       0.0
thalach      71.0
exang         0.0
oldpeak       0.0
slope         0.0
ca            0.0
thal          0.0
target        0.0
dtype: float64

In [14]:
uci.max()

age          77.0
sex           1.0
cp            3.0
trestbps    200.0
chol        564.0
fbs           1.0
restecg       2.0
thalach     202.0
exang         1.0
oldpeak       6.2
slope         2.0
ca            4.0
thal          3.0
target        1.0
dtype: float64

#### The Axis Variable

In [19]:
# axis = 0 means 'ROWS in each COLUMN'
# axis = 1 mean ' COLUMNS in each ROW'
uci.sum(axis = 0) # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .value_counts()

For a DataFrame _Series_, the .value_counts() method will tell you how many of each value you've got.

In [24]:
uci['age'].value_counts()[:10]

40    3
71    3
69    3
38    3
34    2
37    2
77    1
76    1
74    1
29    1
Name: age, dtype: int64

In [26]:
uci['age'].value_counts()[-10:]

40    3
71    3
69    3
38    3
34    2
37    2
77    1
76    1
74    1
29    1
Name: age, dtype: int64

$\bf{\rightarrow Exercise: What\ are\ the\ different\ values\ for\ restecg?}$

In [29]:
# Your code here!
uci.restecg.value_counts()

1    152
0    147
2      4
Name: restecg, dtype: int64

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [ ]:
def successor(x):
    return x + 1

In [ ]:
uci.applymap(successor).head()

The .map() method takes a function as input that it will then apply to every entry in the Series.

In [ ]:
uci.age.map(successor)

In [ ]:
# apply can work similarly to map when called
# on a series, but it can also be called on a df, 
# which it applies it column wise or row wise.

In [ ]:
def s_range(x):
    return x.max() - x.min()

uci.apply(s_range, axis = 0)

## 2. Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [ ]:
uci['oldpeak'].map(lambda x: round(x))[:4]

$\bf{\rightarrow Exercise: Use\ an\ anonymous\ function\ to\ turn\ the\ entries\ in\ age\ to\ strings}$

In [ ]:
# Your code here!

## 3. Methods for Re-Organizing DataFrames: filtering and .groupby()

## Filtering

In [ ]:
uci[uci['age'] == 60]

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The .groupby() method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [ ]:
uci.groupby('sex')

### .groups and .get_group()

In [ ]:
uci.groupby('sex').groups

In [ ]:
uci.groupby('sex').get_group(0) # .tail()

### Aggregating

In [ ]:
uci.groupby('sex')

$\bf{\rightarrow Exercise: Tell\ me\ the\ average\ cholesterol\ level\ for\ those\ with\ heart\ disease.}$

In [ ]:
# Your code here!

### 4. Reshaping a DataFrame

#### .pivot()

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values = 'age', columns = 'target')

With whatever method you please, pivot, groupby, subset etc, return the average cholesterol of women in the dataframe

## Methods for Combining DataFrames: .join(), .merge(), .concat(), .melt()

### .join()

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [ ]:
toy1.join(toy2.set_index('age'), on = 'age',
          lsuffix = '_A', rsuffix = '_B').head()

In [ ]:
pd.merge(toy1, toy2, left_on='age', right_on='age')

### .merge()

In [ ]:
ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)

In [ ]:
states = pd.read_csv('states.csv', index_col = 0)

In [ ]:
ds_chars.merge(states, left_on='home_state', right_on = 'state',
               how = 'inner')

### pd.concat()

$\bf{\rightarrow Exercise: Look\ up\ the documentation\ on\ pd.concat}$ (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) $\bf{and\ use\ it\ to\ concatenate\ ds\_chars\ and\ states.}$
<br/>
$\bf{Your\ result\ should\ still\ have\ only\ five\ rows!}$

### pd.melt()

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

# Pair Programming:
    
For these exercises, we will be practicing pair programming. 
While we work through these exercises, choose who will code and who will supervise.
I.E., one person types, and the other suggests the appropriate direction to head in.

# Exercise 1

1. Make a new column which is the log of the cholesterol column.
2. Make another new column which raises e to the value of the cholesterol column.
3. Check the original column is equal to the second new column.

# Exercise 2

1: Split target off of the dataset.<br>
2: Use numpy to create a random subset of the target variables.<br>
3: Match the indices of each set to the indices of the features 
in order to make two corresponding feature sets.

# Exercise 3
1. Define a function which groups age into year groups of a size of your choosing.
2. Create a new column of binned ages.
3. Drop the original column.

# Exercise 4

1. Use numpy to create a random column of 0's and 1s.
2. Count the number of rows whose target column and new column have the same values.