# Module 1 - Manipulating data with Pandas

![](https://media.giphy.com/media/lPdnkrxkqnS48/giphy.gif)

### Introduction
You are interested in predicting health outcomes for people at risk for heart disease.  You have obtained a set of **labeled data**. Before modeling, you will spend time performing exploratory data analysis and begin with feature engineering. 

#### _Our goals today are to be able to_: <br/>

- Apply and use info, describe, mean, min, max, apply, and applymap from the Pandas library
- Explain what a groupby object is and split a DataFrame using a groupby
- Explain lambda functions and use them to use an apply on a DataFrame
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

### Activation 
Compare attributes and methods of numpy array, pandas series and dataframes.<br>
[array](https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.ndarray.html)<br>
[series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html)<br>
[DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

In [ ]:
# Write two class attributes and two class methods 
# that you were unfamiliar with from each object type

### Our dataset comes from Kaggle, but has been downloaded for you. 

Take a second to checkout the website from which it came:
https://www.kaggle.com/ronitf/heart-disease-uci.

### 1. Applying and using info, describe, mean, min, max, apply, and applymap from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
original_df = pd.read_csv('data/heart.csv')
uci = original_df.copy()

In [9]:
uci.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

Notice the name of the last column!

#### The .columns and .shape Attributes

In [5]:
uci.shape

(303, 14)

#### The .info() and .describe() Methods

Pandas DataFrames have many useful methods! Let's look at ```.info()``` and ```.describe()```.

In [7]:
# Call the .info() method on our dataset. What do you observe?
uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
# Call the .describe() method on our dataset. What do you observe?
uci.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

#### .mean(), .min(), .max(), .sum()

The methods .mean(), .min(), and .max() will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [13]:
uci.min()

age          29.0
sex           0.0
cp            0.0
trestbps     94.0
chol        126.0
fbs           0.0
restecg       0.0
thalach      71.0
exang         0.0
oldpeak       0.0
slope         0.0
ca            0.0
thal          0.0
target        0.0
dtype: float64

In [14]:
uci.max()

age          77.0
sex           1.0
cp            3.0
trestbps    200.0
chol        564.0
fbs           1.0
restecg       2.0
thalach     202.0
exang         1.0
oldpeak       6.2
slope         2.0
ca            4.0
thal          3.0
target        1.0
dtype: float64

#### The Axis Variable

In [19]:
# axis = 0 means 'ROWS in each COLUMN'
# axis = 1 mean ' COLUMNS in each ROW'
uci.sum(axis = 0) # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .value_counts()

For a DataFrame _Series_, the .value_counts() method will tell you how many of each value you've got.

In [24]:
uci['age'].value_counts()[:10]

40    3
71    3
69    3
38    3
34    2
37    2
77    1
76    1
74    1
29    1
Name: age, dtype: int64

In [26]:
uci['age'].value_counts()[-10:]

40    3
71    3
69    3
38    3
34    2
37    2
77    1
76    1
74    1
29    1
Name: age, dtype: int64

$\bf{\rightarrow Exercise: What\ are\ the\ different\ values\ for\ restecg?}$

In [29]:
# Your code here!
uci.restecg.value_counts()

1    152
0    147
2      4
Name: restecg, dtype: int64

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [7]:
def successor(x):
    return x + 1

In [8]:
uci.applymap(successor).head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2

The .map() method takes a function as input that it will then apply to every entry in the Series.

In [10]:
uci.age.map(successor)

0      64
1      38
2      42
3      57
4      58
       ..
298    58
299    46
300    69
301    58
302    58
Name: age, Length: 303, dtype: int64

In [11]:
# apply can work similarly to map when called
# on a series, but it can also be called on a df, 
# which it applies it column wise or row wise.

In [13]:
def s_range(x):
    return x.max() - x.min()

uci.apply(s_range, axis = 0)

age          48.0
sex           1.0
cp            3.0
trestbps    106.0
chol        438.0
fbs           1.0
restecg       2.0
thalach     131.0
exang         1.0
oldpeak       6.2
slope         2.0
ca            4.0
thal          3.0
target        1.0
dtype: float64

## 2. Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [16]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [15]:
uci['oldpeak'].map(lambda x: round(x))[:4]

0    2
1    4
2    1
3    1
Name: oldpeak, dtype: int64

$\bf{\rightarrow Exercise: Use\ an\ anonymous\ function\ to\ turn\ the\ entries\ in\ age\ to\ strings}$

In [29]:
# Your code here!
uci['age'].map(lambda x: str(x))

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: object

In [46]:
uci.age = uci.age.map(lambda age: str(age)) # this changes inside the dataframe

## 3. Methods for Re-Organizing DataFrames: filtering and .groupby()

## Filtering

In [47]:
uci[uci['age'] == 60]
#type(uci.age[2])
#uci.info()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
82,60,0,2,102,318,0,1,160,0,0.0,2,1,2,1
136,60,0,2,120,178,1,1,96,0,0.0,2,0,2,1
147,60,0,3,150,240,0,1,171,0,0.9,2,0,2,1
174,60,1,0,130,206,0,0,132,1,2.4,1,2,3,0
176,60,1,0,117,230,1,1,160,1,1.4,2,2,3,0
186,60,1,0,130,253,0,1,144,1,1.4,2,1,3,0
193,60,1,0,145,282,0,0,142,1,2.8,1,2,3,0
194,60,1,2,140,185,0,0,155,0,3.0,1,0,2,0
201,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
207,60,0,0,150,258,0,0,157,0,2.6,1,2,3,0
237,60,1,0,140,293,0,0,170,0,1.2,1,2,3,0

In [45]:
uci.filter(items = ['chol'])

     chol
0     233
1     250
2     204
3     236
4     354
..    ...
298   241
299   264
300   193
301   131
302   236

[303 rows x 1 columns]

In [41]:
uci.query('chol < 150')

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
53,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3,1
151,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
267,49,1,2,118,149,0,0,126,0,0.8,2,3,2,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The .groupby() method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [51]:
uci.groupby('sex')

### .groups and .get_group()

In [52]:
uci.groupby('sex').groups

{0: Int64Index([  2,   4,   6,  11,  14,  15,  16,  17,  19,  25,  28,  30,  35,
              36,  38,  39,  40,  43,  48,  49,  50,  53,  54,  59,  60,  65,
              67,  69,  74,  75,  82,  84,  85,  88,  89,  93,  94,  96, 102,
             105, 107, 108, 109, 110, 112, 115, 118, 119, 120, 122, 123, 124,
             125, 127, 128, 129, 130, 131, 134, 135, 136, 140, 142, 143, 144,
             146, 147, 151, 153, 154, 155, 161, 167, 181, 182, 190, 204, 207,
             213, 215, 216, 220, 223, 241, 246, 252, 258, 260, 263, 266, 278,
             289, 292, 296, 298, 302],
            dtype='int64'),
 1: Int64Index([  0,   1,   3,   5,   7,   8,   9,  10,  12,  13,
             ...
             288, 290, 291, 293, 294, 295, 297, 299, 300, 301],
            dtype='int64', length=207)}

In [55]:
uci.groupby('sex').get_group(0) # .tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### Aggregating

In [68]:
uci.groupby('sex').max()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
sex,,,,,,,,,,,,,
0,76,3,200,564,1,2,192,1,6.2,2,3,3,1
1,77,3,192,353,1,2,202,1,5.6,2,4,3,1

In [72]:
uci.groupby('sex')['fbs'].mean()

sex
0    0.12500
1    0.15942
Name: fbs, dtype: float64

In [69]:
uci.groupby('sex').mean()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
sex,,,,,,,,,,,,,
0,55.677083,1.041667,133.083333,261.302083,0.12500,0.572917,151.125000,0.229167,0.876042,1.427083,0.552083,2.125000,0.750000
1,53.758454,0.932367,130.946860,239.289855,0.15942,0.507246,148.961353,0.371981,1.115459,1.386473,0.811594,2.400966,0.449275

In [74]:
uci.groupby('sex').size()

sex
0     96
1    207
dtype: int64

$\bf{\rightarrow Exercise: Tell\ me\ the\ average\ cholesterol\ level\ for\ those\ with\ heart\ disease.}$

In [78]:
# Your code here!
uci.groupby('target')['chol'].mean()

target
0    251.086957
1    242.230303
Name: chol, dtype: float64

In [85]:
uci.groupby('target').chol.mean()

target
0    251.086957
1    242.230303
Name: chol, dtype: float64

In [84]:
uci.groupby('target').chol.mean()[1]

242.23030303030302

In [105]:
def heart_col(column, disease):
    """ðšð¯ðžð«ðšð ðž ðœð¡ð¨ð¥ðžð¬ð­ðžð«ð¨ð¥ ð¥ðžð¯ðžð¥ ðŸð¨ð« ð­ð¡ð¨ð¬ðž ð°ð¢ð­ð¡ ð¡ðžðšð«ð­ ðð¢ð¬ðžðšð¬ðž.
    """
    average = uci.groupby('target')[column].mean()[disease]
    return average
heart_col('chol', 0)

251.08695652173913

### 4. Reshaping a DataFrame

#### .pivot()

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [92]:
uci.pivot(values = 'age', columns = 'target')

target     0     1
0        NaN  63.0
1        NaN  37.0
2        NaN  41.0
3        NaN  56.0
4        NaN  57.0
..       ...   ...
298     57.0   NaN
299     45.0   NaN
300     68.0   NaN
301     57.0   NaN
302     57.0   NaN

[303 rows x 2 columns]

With whatever method you please, pivot, groupby, subset etc, return the average cholesterol of women in the dataframe

In [102]:
uci.pivot(values = ['age', 'sex', 'chol'] ,columns = 'target')

         age        sex        chol
target     0     1    0    1      0      1
0        NaN  63.0  NaN  1.0    NaN  233.0
1        NaN  37.0  NaN  1.0    NaN  250.0
2        NaN  41.0  NaN  0.0    NaN  204.0
3        NaN  56.0  NaN  1.0    NaN  236.0
4        NaN  57.0  NaN  0.0    NaN  354.0
..       ...   ...  ...  ...    ...    ...
298     57.0   NaN  0.0  NaN  241.0    NaN
299     45.0   NaN  1.0  NaN  264.0    NaN
300     68.0   NaN  1.0  NaN  193.0    NaN
301     57.0   NaN  1.0  NaN  131.0    NaN
302     57.0   NaN  0.0  NaN  236.0    NaN

[303 rows x 6 columns]

In [101]:
uci.pivot_table(values = ['chol', 'sex', 'age'] ,columns = 'target') # handles aggregation

target           0           1
age      56.601449   52.496970
chol    251.086957  242.230303
sex       0.826087    0.563636

## Methods for Combining DataFrames: .join(), .merge(), .concat(), .melt()

### .join()

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [ ]:
toy1.join(toy2.set_index('age'), on = 'age',
          lsuffix = '_A', rsuffix = '_B').head()

In [ ]:
pd.merge(toy1, toy2, left_on='age', right_on='age')

### .merge()

In [ ]:
ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)

In [ ]:
states = pd.read_csv('states.csv', index_col = 0)

In [ ]:
ds_chars.merge(states, left_on='home_state', right_on = 'state',
               how = 'inner')

### pd.concat()

$\bf{\rightarrow Exercise: Look\ up\ the documentation\ on\ pd.concat}$ (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) $\bf{and\ use\ it\ to\ concatenate\ ds\_chars\ and\ states.}$
<br/>
$\bf{Your\ result\ should\ still\ have\ only\ five\ rows!}$

### pd.melt()

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

# Pair Programming:
    
For these exercises, we will be practicing pair programming. 
While we work through these exercises, choose who will code and who will supervise.
I.E., one person types, and the other suggests the appropriate direction to head in.

# Exercise 1

1. Make a new column which is the log of the cholesterol column.
2. Make another new column which raises e to the value of the cholesterol column.
3. Check the original column is equal to the second new column.

# Exercise 2

1: Split target off of the dataset.<br>
2: Use numpy to create a random subset of the target variables.<br>
3: Match the indices of each set to the indices of the features 
in order to make two corresponding feature sets.

# Exercise 3
1. Define a function which groups age into year groups of a size of your choosing.
2. Create a new column of binned ages.
3. Drop the original column.

# Exercise 4

1. Use numpy to create a random column of 0's and 1s.
2. Count the number of rows whose target column and new column have the same values.